# Backend
backend/nodejs/node_modules
backend/nodejs/.env
backend/.DS_Store

# Frontend
frontend/node_modules
frontend/build
frontend/.DS_Store
frontend/.env

# React Native
reactnative/2.6.0
reactnative/ios
reactnative/android